* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1 {
  font-size: 4.5em;
  text-align: center;
  text-shadow: 2px 2px 2px #db6c79;
  text-decoration: underline 2px #db6c79;
  font-family: "Source Sans Pro", sans-serif;
  margin: 40px auto 60px;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #07080a;
  text-align: start;
  text-shadow: 2px 2px 2px #7ddf64;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.opening--titre {
  width: 100%;
  height: 100%;
}
.opening--logo {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  top: 0px;
  right: 50%;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  animation: logo-fade 3s 400ms both;
}
@media screen and (max-width: 1800px) {
  .opening--logo {
    max-width: 75%;
    max-height: 75%;
  }
}
@keyframes logo-fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.opening--img {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.news {
  margin: auto;
  max-width: 1280px;
  width: 80%;
  margin-bottom: 100px;
}
.news__top, .news__bot {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media screen and (max-width: 1180px) {
  .news__top, .news__bot {
    flex-direction: column;
  }
}
.news__top--text, .news__bot--text {
  text-align: start;
  margin-bottom: 40px;
}
.news__top--imgs, .news__top--video, .news__bot--imgs, .news__bot--video {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  border: 2px solid #07080a;
  width: 100%;
}
.news__top--news, .news__bot--news {
  text-shadow: 2px 2px 2px #7ddf64;
}

.groupe {
  background-color: #07080a;
  padding-bottom: 100px;
}
.groupe__top, .groupe__bot {
  margin: auto;
  max-width: 1280px;
  width: 80%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background: white;
}
@media screen and (max-width: 1180px) {
  .groupe__top, .groupe__bot {
    flex-direction: column;
  }
}
.groupe__un, .groupe__deux, .groupe__trois, .groupe__quatre {
  display: flex;
  justify-content: center;
  max-width: 50%;
}
@media screen and (max-width: 1180px) {
  .groupe__un, .groupe__deux, .groupe__trois, .groupe__quatre {
    max-width: 100%;
  }
}
.groupe__un--img, .groupe__deux--img, .groupe__trois--img, .groupe__quatre--img {
  border: 2px solid white;
}
.groupe--h1 {
  color: #ffffff;
}

.reseaux {
  margin: auto;
  max-width: 1280px;
  width: 80%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 100px;
}
.reseaux--h1 {
  color: #07080a;
}
.reseaux--img {
  margin: auto;
  transition: transform 400ms ease-in-out;
}
.reseaux--img:hover {
  transform: scale(1.3);
}

.footer {
  display: flex;
  justify-content: center;
  color: #7ddf64;
  background-color: #07080a;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
}
.footer > * {
  margin-bottom: 10px;
}
.footer--text {
  margin-left: 20px;
}
.footer--signature {
  margin-right: 20px;
}

.galerie {
  background-color: #07080a;
}
.galerie--h1 {
  color: white;
}
.galerie__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.galerie--img {
  max-width: 100%;
  border: 1px solid white;
}

/*# sourceMappingURL=style.css.map */
