* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

@import "./utils/variable.scss";
@import "./utils/mixin.scss";
@import "./base/base.scss";

@import "./layout/opening.scss";
@import "./layout/news.scss";
// @import "./layout/groupe.scss";
@import "./layout/reseaux.scss";
@import "./layout/footer.scss";
@import "./layout/galerie.scss";
