* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

@import "./utils/variable.scss";
@import "./utils/mixin.scss";
@import "./base/base.scss";




.opening {
    &--img {
        height: 100%;
        width: 100%;
    }
}
