@import "../utils/variable.scss";

@mixin wrapper {
    margin: auto;
    max-width: 1280px;
    width: 80%;
}
@mixin flexbox {
    display: flex;
    justify-content: center;
}
@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}
@mixin mobile-logo {
    @media screen and (max-width: map-get($breakpointsLogo, mobile)) {
        @content;
    }
}