@import "..//utils/mixin.scss";

.footer {
    @include flexbox;
    color: $clr-tertiary;
    background-color: $clr-primary;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
    & > * {
        margin-bottom: 10px;
    }
    &--text {
        margin-left: 20px;
    }
    &--signature {
        margin-right: 20px;
    }
}