@import "../utils/mixin.scss";
@import "../utils/variable.scss";

.groupe {
    background-color: rgba(7,8,10,255);
    padding-bottom: 100px;
    &__top, &__bot {
        @include wrapper;
        @include flexbox;
        justify-content: space-between;
        background: white;   
        @include mobile-only {
            flex-direction: column;
        }
    }
    &__un, &__deux, &__trois, &__quatre {
        @include flexbox;
        max-width: 50%;
        @include mobile-only {
            max-width: 100%;
        }
        &--img {
            border: 2px solid white;
        }    
    }
    &--h1 {
        color: $clr-secondary;
    }

}