@import "../utils/mixin.scss";

.news {
    @include wrapper;
    margin-bottom: 100px;
    &__top, &__bot {
        @include flexbox;
        justify-content: space-between;
        margin-bottom: 80px;
        @include mobile-only {
            flex-direction: column;
        }       
        &--text {
            text-align: start;   
            margin-bottom: 40px;         
        }
        &--imgs, &--video {
            @include flexbox;
            justify-content: space-around;
            border: 2px solid $clr-primary;
            width: 100%;
        }
        &--news {
            text-shadow: 2px 2px 2px $clr-tertiary;
        }
    }  
}