@import "../utils/mixin.scss";

.news {
    @include wrapper;
    &__top, &__bot {
        @include flexbox;
        justify-content: space-between;
        &--text {
            text-align: start;
        }
        &--imgs, &--video {
            @include flexbox;
            border: 2px solid $clr-primary;
        }
        &--news {
            text-shadow: 2px 2px 2px $clr-tertiary;
        }
    }
    &--h1 {
        color: $clr-primary;
    }
}