@import "../utils/mixin.scss";
@import "../utils/variable.scss";

.reseaux {
    @include wrapper;
    @include flexbox;
    justify-content: center;
    margin-bottom: 100px;
    &--h1 {
        color: $clr-primary;
    }
    &--img {
        margin: auto 60px;
        transition: transform 400ms ease-in-out;
        &:hover {
            transform: scale(1.3);
        }
    }
}