@import "../utils/mixin.scss";
@import "../utils/variable.scss";

.reseaux {
    @include wrapper;
    @include flexbox;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
    &--h1 {
        color: $clr-primary;
    }
    &--img {
        margin: auto ;
        transition: transform 400ms ease-in-out;
        @include mobile-only {
            transform: scale(0.7);
        }
        &:hover {
            transform: scale(1.3);
        }
        
    }
}