@mixin titre {
    font-size: 40px;
}

h1 {
    font-size: 3em;
    text-align: center;
    text-shadow:  2px 2px 2px $clr-complementary;
    text-decoration: underline 2px $clr-complementary;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 1px auto 20px;
    @include mobile-only {
        font-size: 3em;
    }
        
    
}
h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: $clr-primary;
    text-align: start;
    text-shadow: 2px 2px 2px $clr-tertiary;
    font-family: 'Source Sans Pro', sans-serif;
    @include mobile-only {
        font-size: 1.5em;
    }
}
p {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    font-size: 20px;
    @include mobile_only {
        font-size: 1em;
    }
}
